<label
  >First Name:
  <input
    type="text"
    name="name"
    [formControl]="inputControl"
    (input)="checkUsername()"
  />
</label>
@if(inputControl.errors?.['required']){
<div class="invalid">Invalid Input</div>
} @else if(inputControl.errors?.['nouppercase']){
<div class="invalid">Uppercase</div>
} @else if(inputControl.errors?.['minlength']){
<div class="invalid">Min</div>
}@else if(inputControl.errors?.['maxlength']){
<div class="invalid">Max</div>
}

<br />
<br />

<label
  >Phone number:
  <input type="text" id="numberInput" (input)="validateNumberInput($event)" />
</label>

<br /><br />

<label
  >Float number:
  <input type="text" id="f-num1" (input)="validateFloatNumberInput($event)" />
</label>
<br /><br />

<label
  >Negative and Positive Float number:
  <input
    type="text"
    id="f-num2"
    (input)="validateFloatNumberNegativeInput($event)"
  />
</label>
<br /><br />

<button (click)="handleSubmit()">Submit</button>
